@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Raleway:ital@0;1&display=swap');

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  figure {
    margin: 0;
  }

  /* TYPOGRAPHY */

  h1,
  h2,
  h3 {
    font-family: 'Fjalla One', sans-serif;
  }

  h1 {
    font-size: var( --hero-txt-size);
    font-weight: var(--hero-txt-weight);
  }

  h2 {
    font-size: var(--info-header-txt-size);
    font-weight: var( --info-header-txt-weight);
  }

  .quote-section {
    font-size: var( --quote-txt-size);
    font-weight: var(--quote-txt-weight);
    font-style: var(--quote-txt-style);
  }

  body {
    font-size: var(--secondary-txt-size);
    font-weight: var(--secondary-txt-weight);
  }

  .logo {
    width: 80px;
    border-radius: 50%;
  }

/* THEME */

  header,
  footer {
    color: var(--main-txt-color);
  }

  .info-section {
    background-color: var(--light-background-color);
    color: var(--contrast-txt-color);
  }

  .cta-section {
    color: var(--main-txt-color);
  }

  .quote-section {
    background-color: var(--mid-background-color);
    color: var(--contrast-txt-color);
  }

  /* HEADER */

section {
    padding: 5rem 10rem;
}

.navbar {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 10rem;
    background-color: var(--light-background-color);
    border-bottom: solid 2px var(--main-txt-color);
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;
}

.nav-link > a {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem;
    transition: 400ms;
}

.nav-link > a:hover {
    color: var(--cta-color);
}

.nav-link {
    position: relative;
}

.nav-link::before {
    content: 'ᚠ'; 
    display: block;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--cta-color);
}

.nav-link:hover::before {
    opacity: 1;
}

.hero {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    height: 45vh;  
    text-align: center;
    border-bottom: solid 2px var(--main-txt-color);
    background: repeating-linear-gradient(-45deg,
            #548796 0%, 
            #426edf 7.14%, 
            #3c57fd 14.28%, 
            #633bb7 21.42%, 
            #6441a1 28.56%, 
            #793cda 35.7%, 
            #ac3ff5 42.84%, 
            #548796 50%);
	background-size:600vw 600vw;
	animation: bifrostRay 10s infinite linear forwards;
    color: var(--light-background-color);
}

.hero > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.cta {
    background-color: var(--cta-color);
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    width: fit-content;
    transition: 400ms;
    border: solid transparent 2px;
}

.cta:hover {
    background-color: transparent;
    border: solid 2px var(--cta-color);
    color: var(--cta-color);
}

/* MAIN */

.info-section {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 1rem;
    margin: 2rem 0;
}

.card {
    width: 350px;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 1rem;
    border: solid transparent 2px;
    border-radius: 20px;
}

.card:hover {
    border: solid 2px #C0C0C0;
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-family: 'Heorot', sans-serif;
    font-size: 2rem;
}

.card-img {
    border-radius: 10px;
    border: solid 2px #C0C0C0;
}

.card-subtitle {
    font-family: 'Heorot', sans-serif;
    margin: 1rem 0;
    line-height: 1.5;
}

.citation {
    text-align: right;
    font-weight: bold;
    font-size: var(--secondary-txt-size);
    font-style: normal;
    font-weight: var(--info-header-txt-weight);
}

.quote-section {
    border-top: solid 2px var(--main-txt-color);
    border-bottom: solid 2px var(--main-txt-color);
    background-image: url('../assets/images/runic-pattern.png');
    background-repeat: repeat;
    background-size: auto; 
    color: var(--light-background-color);
    position: relative;
    z-index: 1;
}

.quote-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.623); /* Dark overlay to improve text contrast */
    z-index: -1; /* Place the overlay below the text */
}

.quote-txt, .citation {
    position: relative; /* Needed for shadow to apply correctly */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Adding a shadow to the text */
}

.cta-banner {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    border-radius: 10px;
    gap: 2rem;
    border: solid 2px var(--main-txt-color);
}

.cta-2 {
    border: solid 2px var(--main-txt-color);
    border-radius: 10px;
    padding: 0.5rem 2rem;
    transition: 400ms;
}

.cta-2:hover {
    background-color: var(--main-txt-color);
    color: var(--light-background-color);
}

footer {
    text-align: center;
    padding: 2rem 0;
    color: var(--light-background-color);
    background-color: var(--cta-color);
}

/* ANIMATIONS */

@keyframes bifrostRay{
    0%{
      background-position-x: 0%;
    }
    100%{
      background-position-x: 600vw;
    }
  }
