:root {
    --dark-background-color: #7aaab6;
    --light-background-color: #F9FAF8;
    --mid-background-color: #E5E7EB;
    
    --main-txt-color: #2C3E50;
    --secondary-txt-color: #2C3E50;
    --contrast-txt-color: #2C3E50;

    --cta-color: #f4cb80;
}