@font-face {
    font-family: 'Heorot';
    src: url('../assets/fonts/Heorot-4rLK.ttf') format('truetype');
    font-weight: normal;
}

:root {
    --hero-txt-size: 48px;
    --hero-txt-weight: 700;

    --secondary-txt-size: 18px;
    --secondary-txt-weight: 400;

    --header-logo-txt-size: 24px;

    --info-header-txt-size: 36px;
    --info-header-txt-weight: 700;

    --quote-txt-size: 36px;
    --quote-txt-weight: 300;
    --quote-txt-style: italic;
}